<h1>Listing Sessions</h1>
<br>
<%= link_to 'New Session', new_session_path, class: 'btn btn-outline-info' %>
<%= link_to 'Download all sessions', download_all_session_path, class: 'btn btn-outline-success' %>
<br>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th><small>Session name</small></th>
      <th><small>Options</small></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td>
          <strong>
            <%= session.name %>
          </strong>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Session options">
            <%= link_to 'Show', session, class: "btn btn-secondary btn-outline-success" %>
            <%= link_to 'Edit', edit_session_path(session), class: "btn btn-secondary btn-outline-warning" %>
            <%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-outline-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

