<div class="phase-background">
	<div class="final-left col-md-7">
		<div class="large-hover-image">
			<%= image_tag 'rectangle.jpg', id:'image-big-finalphase' %>
		</div>
	</div>
	<div class="col-md-5">
		<div class="">
			<% Picture.all.each do |picture| %>
				<div class="col-md-3">
					<%= image_tag picture.image, class:'picture-finalphase draggable', id:picture.id, draggable:'true' %>					
				</div>
			<% end %>	
		</div>
		<div class="finalphase-controller">
			<div class="small-three">
				<%= image_tag 'rectangle.jpg', class:'finalphase-choice', id:'first-choice', alt:'0' %>
				<%= image_tag 'rectangle.jpg', class:'finalphase-choice', id:'second-choice', alt:'0' %>
				<%= image_tag 'rectangle.jpg', class:'finalphase-choice', id:'third-choice', alt:'0' %>
			</div>
			<%= audio_tag @finalphase.music.sound, controls:true, style:"width:300px;", preload:'metadata', type: "audio/#{@finalphase.music.sound.extension}", class: 'audio-finalphase' %>
			<%= form_for Finalopinion.new(finalphase: @finalphase, music: @finalphase.music) do |f| %>
				<%= f.hidden_field :pictures0, :value => '0', id: 'first-choice-text' %>
				<%= f.hidden_field :pictures1, :value => '0', id: 'second-choice-text' %>
				<%= f.hidden_field :pictures2, :value => '0', id: 'third-choice-text' %>
				<%= f.hidden_field :music, value: @finalphase.music.id %>
				<%= f.hidden_field :finalphase, value: @finalphase.id %>
				<%= f.submit 'Confirm', class: 'btn btn-secondary btn-sm btn-confirm-finalphase',  disabled: 'false', id: 'confirm-choice' %>
			<% end %>
		</div>
	</div>
</div>