<div class="phase-background container">
	<% unless @phase.picture %>
		<%= audio_tag @phase.music.sound, controls:true, style:"width:300px;", preload:'metadata', type: "audio/#{@phase.music.sound.extension}", class: 'audio-phase' %>
	<% else %>
		<%= image_tag @phase.picture.image, class: 'img-phase', id: 'zoom_01' %>
	<% end %>
	<div class="row">
		<div class="col-lg-5 offset-lg-7">
			<div class="istruzioni text-lg-center">
				<% if @phase.picture %>
					<p>In base all'opera che vede, sposti il cursore verso sinistra o verso destra, per valutarne la dimensione più appropriata.</p>
				<% end %>
				<% unless @phase.picture %>
					<p>In base alla clip musicale che sente, sposti il cursore verso sinistra o verso destra, per valutarne la dimensione più appropriata. Può ascoltare quante volte desidera la clip.</p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="phase-controller">
		<% @phase.opinions.all.each do |opinion| %>
			<% unless opinion.mark %>
				<%= form_for(opinion) do |f| %>
					<% if Random.new().rand > 0.5 %>
						<span class="word"><%= opinion.word.left %></span>
						<%= f.range_field :mark, :min=>0, :max=>100, :class=>"slide", :id=>"slider1"%>
						<span class="word"><%= opinion.word.right %></span>
					<% else %>
						<span class="word"><%= opinion.word.right %></span>
						<%= f.range_field :mark, :min=>-100, :max=>0, :class=>"slide", :id=>"slider1"%>
						<span class="word"><%= opinion.word.left %></span>
					<% end %>
					<br>
				    <%= f.submit 'Conferma', :class => 'btn btn-secondary btn-lg btn-confirm-phase' %>
				<% end %>
				<% break %>
			<% end %>
		<% end %>
	</div>
</div>