<div class="phase-background">
	<% unless @phase.picture %>
		<%= audio_tag @phase.music.sound, controls:true, style:"width:300px;", preload:'metadata', type: "audio/#{@phase.music.sound.extension}", class: 'audio-phase' %>
	<% else %>
		<%= image_tag @phase.picture.image, class: 'img-phase' %>
	<% end %>
	<div class="row">
		<div class="col-lg-3 offset-lg-8">
			<div class="istruzioni text-lg-center">
				<p>Sposta il pallino vicino alla parola di destra o di sinistra a seconda dell'opera che vedi/senti</p>
			</div>
		</div>
	</div>
	<div class="phase-controller">
		<% @phase.opinions.all.each do |opinion| %>
			<% unless opinion.mark %>
				<%= form_for(opinion) do |f| %>
					<% if Random.new().rand > 0.5 %>
						<span class="word"><%= opinion.word.left %></span>
						<%= f.range_field :mark, :min=>0, :max=>100, :class=>"slide", :id=>"slider1"%>
						<span class="word"><%= opinion.word.right %></span>
					<% else %>
						<span class="word"><%= opinion.word.right %></span>
						<%= f.range_field :mark, :min=>-100, :max=>0, :class=>"slide", :id=>"slider1"%>
						<span class="word"><%= opinion.word.left %></span>
					<% end %>
					<br>
				    <%= f.submit 'Confirm', :class => 'btn btn-secondary btn-sm btn-confirm-phase' %>
				<% end %>
				<% break %>
			<% end %>
		<% end %>
	</div>
</div>